<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="col-md-8 offset-md-2 playerInputWrapper">
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-label>Who's playing?</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Enter players">
                        <input
                            autocomplete="off"
                            placeholder="New player's name..."
                            [matChipInputFor]="chipGrid"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="addName()"
                            [(ngModel)]="newName"
                            autofocus #name
                        />
                        </mat-chip-grid>
                        <mat-hint class="text-danger" *ngIf="players!.length < 5">
                            Min 5 players required.
                        </mat-hint>
                        <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection">
                            <mat-chip-option *ngFor="let player of players; let i = index" selected [ngStyle]="{'background-color': getPlayerColor(i)}">
                                {{player.name}}
                                <button matChipRemove [attr.aria-label]="'remove ' + players" (click)="removeName(i)">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-option>
                        </mat-chip-listbox>
                </mat-form-field>
                <button mat-stroked-button *ngIf="players!.length >= 5" (click)="startGame()" class="aassddff" color="warn">
                    Start game with {{players.length}} players
                </button>
                <button mat-stroked-button *ngIf="players!.length >= 5" (click)="deleteAllPlayers()" color="warn"> <mat-icon>cancel</mat-icon> Delete all players</button>
            </div>

        </div>
    </div>
